* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
#i2p3g {
  width: 24px;
  height: 24px;
}
#i785r {
  width: 24px;
  height: 24px;
}
#ikj9i {
  width: 24px;
  height: 24px;
}
#igl3y {
  width: 24px;
  height: 24px;
}
.object-cover.object-center.rounded {
  opacity: 0.73;
}
.object-cover.object-center.h-full.w-full {
  height: 300px;
}
